<app-header></app-header>

@if (isLoading) {
<div class="spinner-overlay">
  <p-progress-spinner></p-progress-spinner>
</div>
} @else {
<form [formGroup]="wineForm" class="card w-full" (ngSubmit)="onSubmit()">
  <h1 class="w-full text-center text-primary-700 font-weight-light text-xxl">
    Wine List
  </h1>
  <p-divider></p-divider>
  <p-accordion [multiple]="true" class="p-0">
    <ng-container formArrayName="wines">
      @for (wineControl of winesArray.controls; track $index) {
      <p-accordion-panel class="mb-2" [value]="$index">
        <ng-container [formGroupName]="$index">
          <div class="flex flex-column">
            <p-accordion-header class="flex justify-content-between py-0">
              <div class="flex">
                <h3 class="text-primary-800 font-weight-medium">
                  {{ $index + 1 }}.&nbsp;
                </h3>
                <h3
                  class="flex text-primary-800 font-weight-medium m-1 my-2 mr-2 align-items-center"
                >
                  {{ winesArray.at($index).get("wineName")?.value }} ({{
                    winesArray.at($index).get("vintage")?.value
                  }}) - {{ winesArray.at($index).get("winery")?.value }}
                </h3>
              </div>
              <div class="flex gap-2 flex-1 justify-content-end pr-3">
                <button
                  pButton
                  icon="pi pi-trash"
                  class="round p-button-raised p-button-sm"
                  type="button"
                  (click)="deleteWine($index, $event, wineControl?.value)"
                ></button>
              </div>
            </p-accordion-header>
            <p-accordion-content>
              <div class="flex flex-wrap gap-3">
                <div class="flex flex-column flex-1">
                  <label
                    for="wineName_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Wine Name</label
                  >
                  <input
                    type="text"
                    pInputText
                    id="wineName_{{ $index }}"
                    formControlName="wineName"
                    [class.ng-invalid]="
                      winesArray.at($index).get('wineName')?.invalid &&
                      winesArray.at($index).get('wineName')?.touched
                    "
                    [class.ng-dirty]="
                      winesArray.at($index).get('wineName')?.invalid &&
                      winesArray.at($index).get('wineName')?.touched
                    "
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="winery_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Winery</label
                  >
                  <input
                    type="text"
                    pInputText
                    id="winery_{{ $index }}"
                    formControlName="winery"
                    [class.ng-invalid]="
                      winesArray.at($index).get('winery')?.invalid &&
                      winesArray.at($index).get('winery')?.touched
                    "
                    [class.ng-dirty]="
                      winesArray.at($index).get('winery')?.invalid &&
                      winesArray.at($index).get('winery')?.touched
                    "
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="vintage_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Vintage</label
                  >
                  <input
                    type="number"
                    pInputText
                    id="vintage_{{ $index }}"
                    formControlName="vintage"
                    [class.ng-invalid]="
                      winesArray.at($index).get('vintage')?.invalid &&
                      winesArray.at($index).get('vintage')?.touched
                    "
                    [class.ng-dirty]="
                      winesArray.at($index).get('vintage')?.invalid &&
                      winesArray.at($index).get('vintage')?.touched
                    "
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="wineStyle_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Wine Style</label
                  >
                  <p-select
                    id="wineStyle_{{ $index }}"
                    [options]="_staticService.wineStyles"
                    placeholder="Select Style"
                    formControlName="wineStyle"
                    appendTo="body"
                    [class.ng-invalid]="
                      winesArray.at($index).get('wineStyle')?.invalid &&
                      winesArray.at($index).get('wineStyle')?.touched
                    "
                    [class.ng-dirty]="
                      winesArray.at($index).get('wineStyle')?.invalid &&
                      winesArray.at($index).get('wineStyle')?.touched
                    "
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="varietal_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Varietal(s)</label
                  >
                  <textarea
                    pTextarea
                    placeholder="eg. Merlot, Cabernet Sauvignon..."
                    rows="1"
                    id="varietal_{{ $index }}"
                    formControlName="varietal"
                    autoResize="true"
                    [class.invalid-border-only]="
                      winesArray.at($index).get('varietal')?.invalid &&
                      winesArray.at($index).get('varietal')?.touched
                    "
                    [class.invalid-border-only]="
                      winesArray.at($index).get('varietal')?.invalid &&
                      winesArray.at($index).get('varietal')?.touched
                    "
                  ></textarea>
                  @if (winesArray.at($index).get('varietal')?.invalid &&
                  winesArray.at($index).get('varietal')?.touched) {
                  <small
                    class="text-color-red pt-1 text-center"
                    [style]="{ color: 'red' }"
                    >*Enter Varietals as a comma separated List. Only letters and commas accepted as input.</small
                  >
                  }
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="country_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Country</label
                  >
                  <p-select
                    id="country_{{ $index }}"
                    [options]="_staticService.countries"
                    placeholder="Select Country"
                    formControlName="country"
                    appendTo="body"
                    (onChange)="onCountryChange($index)"
                    [class.ng-invalid]="
                      winesArray.at($index).get('country')?.invalid &&
                      winesArray.at($index).get('country')?.touched
                    "
                    [class.ng-dirty]="
                      winesArray.at($index).get('country')?.invalid &&
                      winesArray.at($index).get('country')?.touched
                    "
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="provinceState_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Province/State</label
                  >
                  <p-select
                    id="provinceState_{{ $index }}"
                    [options]="wineStatesMap.get($index) || []"
                    placeholder="Select Province/State"
                    formControlName="provinceState"
                    appendTo="body"
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="region_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Region</label
                  >
                  <input
                    type="text"
                    pInputText
                    id="region_{{ $index }}"
                    formControlName="region"
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="subRegion_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Sub Region</label
                  >
                  <input
                    type="text"
                    pInputText
                    id="subRegion_{{ $index }}"
                    formControlName="subRegion"
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="price_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Price</label
                  >
                  <p-inputnumber
                    formControlName="price"
                    id="price_{{ $index }}"
                    mode="currency"
                    inputId="currency-us"
                    currency="USD"
                    locale="en-US"
                  />
                </div>
              </div>
              <p-divider align="left" type="dotted"
                >Wine Characteristics</p-divider
              >
              <div class="flex flex-wrap gap-3">
                <div class="flex flex-column flex-1">
                  <label
                    for="body_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Body</label
                  >
                  <p-select
                    id="body_{{ $index }}"
                    [options]="this._staticService.body"
                    placeholder="Select Body"
                    formControlName="body"
                    appendTo="body"
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="sugar_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Sugar Content</label
                  >
                  <p-select
                    id="sugar_{{ $index }}"
                    [options]="this._staticService.sugar"
                    placeholder="Select Sugar Content"
                    formControlName="sugar"
                    appendTo="body"
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="alcoholContent_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Alcohol Content</label
                  >
                  <p-inputnumber
                    formControlName="alcoholContent"
                    id="alcoholContent_{{ $index }}"
                    mode="decimal"
                    locale="en-US"
                    [minFractionDigits]="2"
                    prefix="%"
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="acidity_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Acidity</label
                  >
                  <p-select
                    id="acidity_{{ $index }}"
                    [options]="this._staticService.acidity"
                    placeholder="Select Acidity"
                    formControlName="acidity"
                    appendTo="body"
                  />
                </div>
                <div class="flex flex-column flex-1">
                  <label
                    for="tannins_{{ $index }}"
                    class="text-primary-600 text-sm pb-1"
                    >Tanins</label
                  >
                  <p-select
                    id="tannins_{{ $index }}"
                    [options]="this._staticService.tanins"
                    placeholder="Select Tanins"
                    formControlName="tannins"
                    appendTo="body"
                  />
                </div>
              </div>
            </p-accordion-content>
          </div>
        </ng-container>
      </p-accordion-panel>
      }
    </ng-container>
    <div class="w-full flex justify-content-end gap-3 pt-1">
      <button
        pButton
        icon="pi pi-plus"
        type="button"
        class="round p-button-raised p-button-text custom-hover-button"
        (click)="addWine()"
      >
        Add
      </button>
    </div>
    <p-divider></p-divider>
  </p-accordion>
  <p
    class="w-full text-center"
    [style]="{ color: 'red', display: isValid ? 'none' : '' }"
  >
    *Wine Name, Winery, Vintage, Wine Style, Varietal and Country are all
    required Fields
  </p>
  <div class="w-full flex justify-content-center pt-3">
    <button
      type="submit"
      pButton
      pRipple
      class="p-button-raised w-full md:w-auto"
    >
      Save Changes
    </button>
  </div>
</form>
}
