@import "primeflex/primeflex.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&display=swap");
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "open sans", "helvetica neue", "helvetica", serif;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.card {
  padding: 1rem;
  background-color: var(--p-primary-50);
  box-shadow: inset 2px 2px 5px var(--p-primary-200);
  border-radius: 10px;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 500;
}

.box-shadow-light {
  box-shadow: 4px 4px 5px var(--p-primary-200);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.end-0 {
  right: 0;
}

.round {
  border-radius: 100px !important;
}

.custom-hover-button {
  transition: 0.3s ease-in-out !important;
  background: #f8fafc !important;
  border: 1px solid var(--p-primary-200) !important;

  &:hover {
    background-color: #deecde !important;
    color: #064007 !important;
  }
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
